@use "../../mixins" as *;

.header {
  @include flex_space_between();
}

.h1 {
  @include h1();
}

.body {
  margin-top: 2.5rem;
}

.docs_list {
  display: flex;
  flex-wrap: wrap;
  gap: .6875rem;
}

@media (max-width: 1160px) {
  .docs_list {
    justify-content: space-between;
    max-width: 47.25rem;
    margin: 0 auto;
  }
}

@media (max-width: 776px) {
  .docs_list {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .header {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}